*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea/misc.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/gradle.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
